body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: blueviolet;
}
#game-container {
    margin-top: 50px;
}
#cat-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#cat {
    width: 150px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
@keyframes disco {
    0% { background-color: crimson; }
    25% { background-color: blue; }
    50% { background-color: darkgreen; }
    75% { background-color: yellow; }
    100% { background-color: purple; }
}
.disco-mode {
    animation: disco 0.2s infinite alternate;
}